<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 align = "center">Ruby Workshop</h1>

<h2 align = "center">We Will Add users to our database</h2>

<%=link_to "Add User",new_profile_path%>

</body>
</html>