<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table>
<tr>
	<th>firstname</th>
	<th>Lastname</th>
	<th>Designation</th>
	<th>origin</th>
</tr>
<tr>
	<td><%=@profile.firstname%></td>
	<td><%=@profile.lastname %></td>
	<td><%=@profile.designation %></td>
	<td><%=@profile.origin%></td>

</tr>



</table>
</body>
</html>